body {
  background: #a73737; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #a73737 , #7a2828); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #a73737 , #7a2828); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
h1 {
  color: #fff;
  text-shadow: 1.5px 1.5px #000;
  margin-top: 50px;
}
table {
    border-spacing: 0;
    width: 50%;
    margin: 0 auto;
    margin-top: 70px;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.6);
    -moz-box-shadow: 10px 10px 5px rgba(0,0,0,0.6);
    -webkit-box-shadow: 10px 10px 5px rgba(0,0,0,0.6);
    -o-box-shadow: 10px 10px 5px rgba(0,0,0,0.6);
    border-radius: 14px;
}
td {
  border-bottom: 0.4px solid #ccc;

}
th, td {
    text-align: left;
    padding: 8px;

}
table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}
table tr:first-child th:first-child {
    border-top-left-radius: 10px;
}
table tr:first-child th:last-child {
    border-top-right-radius: 10px;
}

tr {
  background-color: #f2f2f2
}

th {
    background-color: #34495e;
    color: white;
}